* {
  -webkit-tap-highlight-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(116, 114, 114, 0.133);
    text-transform: capitalize;
    color: rgb(17, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
}
    #mobileMenu{
        display: none;
    }
        #settingsIcons{
            display: none;
        }
        header{
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        padding: 10px;
        padding-left: 0px;
        margin-left: 0px;
        position: relative;
    }

        #logo{
        margin-left: 30px;
        font-size: 1.9rem;
        position: absolute;
        font-weight: bold;
        color: #FF8900;
        cursor: pointer;
    }

        nav{
            width: 450px;
            display: flex;
            font-size: 1.1rem;
            justify-content: space-evenly;
    }

    nav span:hover , a:hover{
        cursor: pointer;
        color: #FF8900;
    }
    a{
        color: rgb(17, 16, 16);
        text-decoration: none;


    }

    @media (max-width: 720px){
        #logo{
        margin-left: 20px;
    }
        nav{
        width: 420px;
        font-size: 1.1rem;
    }

    }

    @media (max-width: 615px){
        nav{
            width: 400px;
            font-size: 1.1rem;
    }

    }

    @media (max-width: 560px){
        header{
        padding-left: 0px;
    }

        nav{
            width: 380px;
            font-size: 1rem;
    }


    }

    @media (max-width: 530px){
        nav{
        width: 350px;


    }
    }

    @media (max-width: 480px){
        header{
            justify-content: left;
            position: relative;
            justify-content: center;
    }
        .hamburger {
            position: absolute;
            width: 30px;
            left: 20px;
            cursor: pointer;
    }

        .hamburger span {
          display: block;
          height: 3px;
          background: #141414;
          margin: 6px 0;
          border-radius: 2px;
    }

        #logo{
            text-align: center;
        justify-self: center;
    }
        nav{
        display: none;
    }
    #mobileMenu{
        display: none;
        flex-direction: column;
        background-color: white;
        width: 200px;
        padding-top: 20px;
        gap: 10px;
        height: 100vh;
        position: absolute;
        top: 65px;
        z-index: 99999999999999999999999;

    }
    #mobileMenu span{
        cursor: pointer;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        transition: 0.1s ease-in-out;
    }
    .mobileHover{
         transition: 0.1s ease-in-out;

    }
    #mobileMenu span:hover{
        .mobileHover{
            color: white;
            font-size: 1.1rem;
     
        }
        /*background-color: rgb(225, 222, 222);
        color: #FF8900;*/
        color: white;
        background-color: #FF8900;
        font-size: 1.1rem;
        
        
    }

}


#background{
    display: flex;
    gap: 10px;
    padding-top: 0px;
    justify-content: center;
    padding: 10px;
    background-color: rgba(116, 114, 114, 0.133);
}
aside{
    height: 100vh;
    width: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 0px;
}
#searchBar{
    height: 40px;
    border: none;
    padding-top: 5px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgb(209, 208, 208);
}
#categoriesHeading{
    color: #3b3b3b;
    font-size: 1.3rem;
    margin-left: 5px;
    margin-bottom: 10px;   
}
#categoriesSection{
    color: #4e4e4e;
    margin-left: 5px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;

}
#categoriesSection span:hover{
    cursor: pointer;
    color: #FF8900;

}
#tagsHeading{
    margin-bottom: 10px;
    color: #3b3b3b;
    font-size: 1.3rem;
    margin-left: 5px;
}
.tags{
    border: 1px solid #a6a6a6;
    font-weight: normal;
    color: #4e4e4e;
    margin-bottom: 7px;
    height: 30px;
    width: fit-content;
    padding-left: 10px ;
    padding-right: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.tags:hover{
    border: 1px solid #FF8900;
    background-color: #FF8900;
    color: white;
}
#itemsContainer{
    border-radius: 20px;
    width: 80%;
    background-color: white;
    padding: 10px;
}

#itemsCnt{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(4,1fr);

}
.items{
    padding: 10px;
    background-color: white;
    height: 300px;
    box-shadow: 0 0 8px rgb(209, 208, 208);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    transition: 0.5s ease-in-out;
}
.items:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 5px #ff88009b;
}
#menuPic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: auto;
    justify-self: center;
    transition: 0.3s ease-in-out;
}
#item{
    position: relative;
    height: 80%;
    background-color: rgba(129, 129, 129, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 10px;
    border-radius: 7px;
}

#item:hover{
    cursor: pointer;

}
#itemName{
    font-size: 1.3rem;
    font-weight: 500;
    color: #464444;

}

#itemPrice{
    text-align: left;
    color: #3b3b3b;
}

#itemButton{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #FF8900;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    box-shadow: inset 0 0 0 2px transparent;
  transition: box-shadow 0.5s ease;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#itemButton:hover{
transition: 0.5s ease-in-out;
color: #141414;
background-color: white;
box-shadow: inset 0 0 0 2px #FF8900;


}

/*mobile section when aside hide */
#mobileSection{
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    background-color: rgba(116, 114, 114, 0.133);
}
#searchBarForMobile{
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 80%;
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
    margin-bottom: 10px;
}
#mobileSectionHeading{
    margin-bottom: 10px;
    
}
#mobileCategories{
    display: flex;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
}
#mobileCategories span{
    font-size: 0.80rem;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    transition: 0.1s ease-in-out;
}
#mobileCategories span:hover{
    background-color: #FF8900;
    color: white;
    cursor: pointer;

}
#mobileCategories span:active{
        transition: 0.1s ease-in-out;
    transform: scale(0.90);
}









@media (max-width: 1200px){

}
@media (max-width: 1115px){
    img{
    width: 170px;
    }
    .items{
        height: 260px;
    }
    #itemName{
        font-size: 1.1rem;
    }
    #itemPrice{
        font-size: 0.90rem;
    }
    #itemButton{
        height: 35px;
    }
}
@media (max-width: 1095px){
    #itemsCnt{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(3,1fr);
}
    .items{
     height: 280px;
    padding-right: 10px;
}
    #itemName{
    font-size: 1.3rem;
}
    #itemPrice{
    font-size: 1rem;
}
    #itemButton{
    height: 40px;
}

}
@media (max-width: 1020px){

}
@media (max-width: 970px){


}
@media (max-width: 880px){

    .items{
    height: 250px;
    padding-right: 10px;
    }
    #itemName{
    font-size: 1.1rem;
    }
    #itemPrice{
    font-size: 0.90rem;
    }
    #itemButton{
    height: 35px;
    }
}

@media (max-width: 850px){
    #itemsCnt{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(2,1fr);
}

    .items{
    height: 280px;
    padding-right: 10px;
}
    #itemName{
    font-size: 1.3rem;
}
    #itemPrice{
    font-size: 1rem;
}  
    #itemButton{
    height: 40px;

}

}




@media (max-width: 720px){

.items{
    height: 250px;
    padding-right: 10px;
}
#itemName{
    font-size: 1.1rem;


}

#itemPrice{
    font-size: 0.90rem;

}
#itemButton{

    height: 35px;

}


}


@media (max-width: 660px){

    #itemsCnt{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(1,1fr);

}

.items{
    height: 280px;
    padding-right: 10px;
}
#itemName{
    font-size: 1.3rem;


}

#itemPrice{
    font-size: 1rem;

}

#itemButton{

    height: 40px;

}

}



@media (max-width: 540px){
    aside{
        height: 100vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        gap: 0px;
    }

}


/*on mobile mode*/
@media (max-width: 480px){
    #background{
        padding: 0px;
        padding-top: 50px;
    }
    aside{
    display: none;
}
#itemsContainer{
    border-radius: 20px;
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

    #itemsCnt{    
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
    img{
    width: 50px;
 

}
.items{
    gap: 5px;
    box-shadow: none;
    height: 280px;
    padding-right: 10px;
}
#itemName{
    font-size: 1.3rem;


}

#itemPrice{
    font-size: 1rem;

}

#itemButton{

    height: 40px;

}

}


@media (max-width: 380px){

    #itemsCnt{    
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
#item{
    position: relative;
    height: 80%;
    background-color: rgba(129, 129, 129, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0px;
    border-radius: 7px;
}
  #menuPic{
    width: 130px;
  }
.items{
    gap: 5px;
    height: 220px;
    padding: 5px;
    border-radius: 5px;
    
}
#itemName{
    font-size: 1rem;


}

#itemPrice{
    font-size: 0.90rem;

}

#itemButton{
    font-size: 0.90rem;
    height: 35px;

}
}
/*main menu page end here */

/*when click on any items items details desing start from here*/
#itemDetails{
    background-color: rgba(116, 114, 114, 0.133);
    
    padding: 20px;
}
#pagesPath{
    display: none;
    gap: 5px;
}
#detailsPic{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgba(129, 129, 129, 0.1);
   
}
#detailsPic img{
    border-radius: 10px;
    width: 80%;
    height: auto;
    transition: 0.5s ease-in-out;
}

#detailsPic img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


.deatilsCnt{
    width: 100%;
    height: 700px;
    display: flex;
    gap: 30px;
   
}

#itemDetailsCnt{
    display: flex;
    flex-direction: column;
    gap: 30px;
}





/*footer start from here*/
    footer{
        background-color: rgb(216, 216, 216);
        margin-top: 100px;
        height: 350px;
        padding: 30px;
        display: flex;
        color:#333131;
        justify-content: space-between;
        padding-right: 50px;
    }
    #footerLogo{
        padding: 0px;
        margin: 0px;
        font-size: 2.5rem;
    }
    #footerParagraph{
        color:#3b3b3b;
        width: 350px;
        font-size: 1rem;
    }
    #CompanyContainer , #socialMediaConatiner , #CompanyContainer2{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;

    }
    .companyOptions{
        color:#3b3b3b;

    }
    .companyOptions:hover{
        color: #FF8900;
        cursor: pointer;;

    }
      h3{
        padding: 0px;
        margin: 0px;
    }

    @media (max-width: 890px){
        #footerLogo{
            font-size: 2rem;
        }
        #footerParagraph{
            width: 320px;
            font-size: 0.95rem;
        }
            #CompanyContainer , #socialMediaConatiner , #CompanyContainer2{
        margin-top: 0px;
      

    }
    }

    @media (max-width: 820px){
        footer{
        padding-right: 20px;
        padding-left: 20px;
        }
        h3{
            font-size: 1rem;
        }
        .companyOptions{
            font-size: 0.95rem;

        }
    }

    @media (max-width: 720px){
        footer{
        padding-bottom: 100px;
        margin-top: 100px;
        height: 450px;
        display: grid;
        justify-content: left;
        text-align: left;
        justify-content: space-around;
        gap: 10px;
        padding-right: 0px;
        grid-template-columns: repeat(2, 1fr);
    }
        #CompanyContainer2{       
            gap: 20px;
            justify-self: left;
            
        }
        #CompanyContainer , #socialMediaConatiner , #CompanyContainer2{
    
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

    }
    h3{
        padding: 0px;
        margin: 0px;
    }

        
    }

        @media (max-width: 470px){
        footer{
            padding-bottom: 30px;
        margin-top: 100px;
        height: 420px;
        display: grid;
        justify-content: left;
        text-align: left;
        justify-items: left;
        justify-content: space-around;
        gap: 10px;
        
        padding-right: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #footerParagraphCnt{
        grid-column: span 3;
    }
        #footerLogo{
        font-size: 2rem;
        color: #FF8900;
    }
    #footerParagraph{
        width: 100%;
        color:#6b6b6b;
        font-size: 0.80rem;
    }
        #CompanyContainer2{
        display: flex;
        flex-direction: column;
        text-align: center;
        }
     .companyOptions{
        color:#424242;
     }
     h3{
        color: #424242;
     }   
    }
    
/*footer end  here*/
